<%= form_with(model: equipment_controller, local: true) do |form| %>
  <% if equipment_controller.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(equipment_controller.errors.count, "error") %> prohibited this equipment_controller from being saved:</h2>

      <ul>
      <% equipment_controller.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
